//Background Colors
$dark-gray: #0C111D;
$light-gray: #F9FAFB;

// Text Colors
$dark-purple: #6941C6;
$dark-gray: #344054;
$light-purple: #F4EBFF;
$black: #000000;
$white: #ffffff;

// Button Colors
$purple: #7A5AF8;
$violet: #875BF7;
$pink: #EE46BC;
$blue: #0BA5EC;
$middle-blue: #2970FF;
$teal: #15B79E;
$green: #16B364;
$turquoise: #06AED4;